:root {
  --header-bg: #205583;
}
@media (max-width: 480px) {
  .header {
    height: 3.45rem;
    width: 100%;
    background-color: var(--header-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
  }

  .logo-img {
    padding: 0.5rem;
    height: 3.45rem !important;
  }

  .large-font {
    font-size: 10px;
  }
  .medium-font {
    font-size: 8px;
  }
  .small-font {
    font-size: 6px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .header {
    height: 3.45rem;
    width: 100%;
    background-color: var(--header-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
  }
  .logo-img {
    padding: 0.5rem;
    height: 3.45rem !important;
  }

  .large-font {
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    height: 4rem;
    width: 100%;
    background-color: var(--header-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
  }

  .logo-img {
    padding: 0.5rem;
    height: 4rem !important;
  }
  .xl-large-font {
    font-size: 10px;
  }
  .large-font {
    font-size: 8px;
  }
  .medium-font {
    font-size: 6px;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .header {
    height: 4rem;
    width: 100%;
    background-color: var(--header-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
  }

  .logo-img {
    padding: 0.5rem;
    height: 4rem !important;
  }
  .xl-large-font {
    font-size: 14px;
  }
  .large-font {
    font-size: 12px;
  }
  .medium-font {
    font-size: 10px;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .header {
    height: 4rem;
    width: 100%;
    background-color: var(--header-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
  }

  .logo-img {
    padding: 0.5rem;
    height: 4rem !important;
  }
  .xl-large-font {
    font-size: 14px;
  }
  .large-font {
    font-size: 12px;
  }
   .medium-font {
    font-size: 10px;
  }
}

@media (min-width: 1601px) and (max-width: 1920px) {
  .header {
    height: 4rem;
    width: 100%;
    background-color: var(--header-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
  }

  .logo-img {
    padding: 0.5rem;
    height: 4rem !important;
  }
  .xl-large-font {
    font-size: 17px;
  }
  .large-font {
    font-size: 15px;
  }
   .medium-font {
    font-size: 12px;
  }
}

@media (min-width: 1921px) and (max-width: 2560px) {
  .header {
    height: 5rem;
    width: 100%;
    background-color: var(--header-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
  }

  .logo-img {
    padding: 0.5rem;
    height: 5rem !important;
  }
  .xl-large-font {
    font-size: 18px;
  }
  .large-font {
    font-size: 20px;
  }
   .medium-font {
    font-size: 18px;
  }
}

@media (min-width: 2561px) {
  .header {
    height: 5rem;
    width: 100%;
    background-color: var(--header-bg);
    display: flex;
    align-items: center;
    padding: 0.2rem;
  }

  .logo-img {
    padding: 0.5rem;
    height: 5rem !important;
  }
  .xl-large-font {
    font-size: 23px;
  }
  .large-font {
    font-size: 25px;
  }
   .medium-font {
    font-size: 20px;
  }
}
